!!!html5
%html
  %head
    %title コミケ用TLフィルタリング装置
  %body
    %h1 コミケ用TLフィルタリング装置
    =@tweet_button
    %br
    %a(href="/twitter/auth")
      Twitter認証して利用する！（解析に結構時間がかかります）
    %h2 これは何？
    あなたのタイムラインを解析し、コミケっぽいtweetを抽出して表示します。
    %br
    サークルチェックなどにお役立てください。
    %br
    %br
    【安心！】
    %br
    このツールはあなたのTLを解析するだけで、自動でtweetしたりはしません。ご安心ください。
    %h2 抽出キーワード
    コミケ、夏コミ、C92、新刊、入稿、おしながき、お品書き、表紙、委託、予約、pixiv、etc...
    %h2 作った人
    %a(href="https://twitter.com/vivit_jc")
      @vivit_jc
    %br
    %a(href="http://www.amazon.co.jp/registry/wishlist/3T036T82AOCXG")
      賄賂を送ってvivit_jcを影で操ろう！